body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #020914;
    font-family: 'Century Gothic', Arial, sans-serif;
}

.excluir-form {
    width: 300px;
    padding: 20px;
    background-color: #0e1e49;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Century Gothic', Arial, sans-serif;
}

.excluir-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Century Gothic', Arial, sans-serif;
    color: #fff;
}

.excluir-form label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Century Gothic', Arial, sans-serif;
    color: #fff;
}

.excluir-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Century Gothic', Arial, sans-serif;
}

.excluir-form button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #0e1e49;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Century Gothic', Arial, sans-serif;
}
